@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

:root {
    --txt: #efefef;
    --link: palevioletred;
    --linkH: #c8ecff;
    --code: #101014;
    --0link: #bababa;
}

body {
    background: black;
    width: 70%;
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
    color: var(--txt);
}

header,
footer {
    text-align: center;
}

header img {
    vertical-align: top;
    max-width: 240px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 4px;
}

header p {
    font-size: large;
    margin-top: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--linkH);
    text-decoration: underline;
}

nav {
    margin: 24px auto;
}

nav a {
    font-size: larger;
    margin: 10px;
}


hr {
    border: none;
    border-top: 1px solid var(--txt)
}

body p {
    font-size: 16.5px;
}

code {
    font-family: 'JetBrains Mono',monospace;
    line-height: 1.6;
}

pre {
    background: var(--code);
    border: 1px solid rgb(44, 66, 88);
    padding: 0.8em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono',monospace;
}

.pro {
    font-size: x-large;
}

.invert {
    filter: invert(100%);
}