@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --txt: #efefef;
    --link: palevioletred;
    --linkH: #c8ecff;
    --code: #101014;
    --0link: #bababa;
}

body {
    background: black;
    width: 60%;
    margin: auto;
    font-family: 'JetBrains Mono';
    color: var(--txt);
}

header,
footer {
    text-align: center;
}

header img {
    vertical-align: top;
    max-width: 240px;
}

h1 {
    font-weight: normal;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--linkH);
    text-decoration: underline;
}

nav a {
    font-size: larger;
}

hr {
    border: none;
    border-top: 1px solid var(--txt)
}

code {
    font-family: 'JetBrains Mono';
    line-height: 1.6;
}

pre {
    background: var(--code);
    border: 1px solid rgb(44, 66, 88);
    padding: 0.8em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono', monospace;
}