@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

:root {
    --white4: #efefef;
    --link: palevioletred;
    --linkH: #c8ecff;
    --codeBg: #101014;
    --pref1: #FFA3A5;
    --pref2: #FF69EB;
}

/* provided bg, font-colour, font-style, width, margin to centre */
body {
    background: black;
    color: var(--white4);
    font-family: 'JetBrains Mono', monospace;
    width: 70%;
    margin: auto;
}

/* fix img */
header img {
    vertical-align: top;
    max-width: 240px;
}

/* centred */
header,
footer {
    text-align: center;
}

/* configuring header */

header h1 {
    font-size: 250%;
    margin-bottom: 4px;
}

header p {
    margin-top: 0;
}

nav {
    margin: 24px auto;
}

nav a {
    font-size: larger;
    margin: 10px
}

p,
blockquote {
    font-size: 103.125%;
}

/* link */
a {
    color: var(--link);
    text-decoration: none;
}

/* link hover */
nav a:hover {
    text-decoration: none;
}

a:hover,
nav a:hover span {
    color: var(--linkH);
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--white4);
}

h2,
h1 {
    color: var(--pref1);
}

h3,
h3 a {
    color: var(--pref2);
}

pre code {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.6;
}

pre {
    background: var(--codeBg);
    padding: 0.8em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono', monospace;
    border-radius: 6px;
}

code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--codeBg);
}

h4 {
    color: orange;
}